body {
  background-color: rgb(244, 248, 252);
}
h1 {
  color: orange;
  font-weight: bolder;
  text-align: center;
  font-family: "Alkatra", cursive;
  padding-top: 100px;
  margin: 0;
}
.headline {
  color: orange;
  font-style: italic;
  font-weight: lighter;
  font-family: "Alkatra", cursive;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 20px;
}
ul {
  list-style: none;
  text-decoration: none;
  padding: 0%;
  text-align: center;
}
li {
  display: inline;
  text-align: center;
  padding: 30px;
  font-family: "Dosis", sans-serif;
  color: #2f42e9;
  font-weight: bold;
  font-size: 30px;
}
p {
  font-family: "Dosis", sans-serif;
  font-size: x-large;
  text-align: center;
  margin-bottom: 2px;
}
section {
  border: 1px solid;
  border-color: rgb(185, 184, 184);
  margin: 40px;
  max-width: 900px;
  display: block;
  margin: 0 auto;
}
.linkToPage {
  text-decoration: none;
  font-weight: lighter;
  opacity: 0.4;
}
.linkToPage:hover {
  color: orange;
  cursor: pointer;
  opacity: 1;
}
.d-flex {
  font-family: "Dosis", sans-serif;
  max-width: 500px;
  display: block;
  margin: 0 auto;
}
.title {
  font-family: "Dosis", sans-serif;
  color: rgb(41, 41, 233);
  padding-top: 20px;
  padding-left: 20px;
  font-weight: bold;
}
.card {
  padding-left: 20px;
}
.card-text {
  font-family: "Dosis", sans-serif;
  text-align: left;
  font-size: large;
}
.img-fluid {
  max-width: 100px;
  padding-left: 20px;
}
.card-title {
  font-family: "Dosis", sans-serif;
  text-align: left;
  font-size: x-large;
  font-weight: 500;
  font-weight: bold;
}
.card-img-bottom {
  max-width: 70px;
  padding-left: 20px;
}
.mb-sm-2 {
  padding: 2px;
  margin: 2px;
  margin-left: 30px;
}
.card-header {
  font-family: "Dosis", sans-serif;
  font-size: medium;
  text-align: center;
}
.card-title-1 {
  font-family: "Dosis", sans-serif;
  font-size: large;
  text-align: center;
}
.endButton {
  position: relative;
  top: 15px;
  display: flex;
  left: 200px;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: #2f42e9;
  color: white;
  border: none;
  transition: all 150ms ease-in-out;
  cursor: pointer;
}
.endButton:hover {
  background-color: orange;
  color: black;
}
.fi {
  display: block;
  margin: 0 auto;
  text-align: center;
}
.newTimeStyle {
  font-family: "Dosis", sans-serif;
  text-align: left;
  font-size: medium;
  font-weight: 300;
  font-weight: bold;
  color: orange;
  margin-left: 25px;
}
.furthurInformation {
  font-family: "Dosis", sans-serif;
  text-align: left;
  font-size: medium;
  font-weight: 500;
  color: #6170fdfd;
}
.card-text .active {
  color: black;
  text-decoration: none;
  cursor: default;
}
.active:hover {
  cursor: default;
}
.maxDegree {
  color: rgb(247, 172, 34);
}
.minDegree {
  color: #7581f4;
}
.endPoint {
  margin-left: 200px;
}
.mb-sm-5 {
  margin-left: 30px;
}
